h1,
h2,
h3,
table,
p,
a,
li {
    font-family: sans-serif
}

p {
    color: red
}

html {
    background-color: lightgray
}

li:hover,
td:hover,
th:hover {
    color: blue
}

li:active,
td:active,
th:active {
    color: red
}
